body{
    background-size: cover;
    background-image: url("img7/Stupa_Borobudur.jpg");
}
.justify{
  color:blue;
  text-align: justify;
  width: 700px;
  height: 500px;
  border: 2px solid red;
  margin: 0 auto;
  background-image: url("img7/avocado.jpg");
  background-repeat: repeat;
  float: center;
}
.repeat{
  width: 700px;
  height: 250px;
  border: 2px solid red;
  background-image: url("img7/avocado.jpg");
  background-repeat: repeat-x;
  float: center;
  margin: 0 auto;
}
